

<md-dialog aria-label="Mango (Fruit)" style="max-width: 1000%;max-height: 1000%;">  
   
        <md-toolbar>
          <div class="md-toolbar-tools" style="background-color: coral;">
            <h2>Agendamento de visitante</h2>
            <span flex></span>
            <!--<md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>-->
          </div>
        </md-toolbar>
        <md-dialog-content style="max-width:1000px;max-height:1000px;">
        <form name="vm.visitaForm">
            <md-content class="md-padding" style="width: 400;">
                
                <div layout="row">  
                    <md-input-container flex>
                        <label>Nome do Convidado</label>
                        <input name="nome" required ng-model="vm.nomeConvidado"> 
                        <div ng-messages="vm.visitaForm.nome.$error">
                            <div ng-message="required">Este campo é obrigatório</div>
                        </div>
                    </md-input-container> 
                </div>
                <div layout="row">    
                    <md-input-container flex>
                        <label>Data Reserva</label>
                        <md-datepicker name="reserva" required ng-model="vm.dataHoraReserva"> 
                        <div ng-messages="vm.visitaForm.reserva.$error">
                            <div ng-message="required">Este campo é obrigatório</div>
                        </div>	             
                    </md-input-container>
                    <md-input-container flex>
                            <label>Hora Reserva</label>
                            <input  type="time" name="horaReserva" required ng-model="vm.horaReserva" > 
                            <div ng-messages="vm.visitaForm.horaReserva.$error">
                                <div ng-message="required">Este campo é obrigatório</div>
                            </div>	             
                    </md-input-container>
                </div>
                <div layout="row">   
                    <md-input-container flex>
                        <label>Observaçoes</label>
                        <input type="observacao" name="observacao" required ng-model="vm.condominoObservacao"> 
                        <div ng-messages="vm.visitaForm.observacao.$error">
                            <div ng-message="required">Este campo é obrigatório</div>                           
                        </div>                
                    </md-input-container>
                </div>    
            </md-content>    
          </form>    
        </md-dialog-content>
    
        <md-dialog-actions layout="row">
          
          <span flex></span>
          <md-button class="md-warn md-raised" ng-click="vm.cancelar()" >
            Cancelar
          </md-button>
          <md-button class="md-primary md-raised"  ng-click="vm.salvar()" style="margin-right:20px;"  ng-disabled="vm.visitaForm.$invalid" >
            Salvar
          </md-button>
        </md-dialog-actions>
        
        
        
      
  </md-dialog>  
  
  
  
  
  
    
                
  