<md-dialog aria-label="teste" style="max-width: 100%;max-height: 100%;">
    
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Atualizar Porteiro</h2>
            <span flex></span>
            <!--<md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>-->
          </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
          <form name="vm.porteiroForm">
              <md-content class="md-padding">
                  <h1 class="md-display-1">Dados Pessoais: </h1>
                  <div layout="row">
                        <md-input-container flex>
                            <label>Email</label>
                            <input name="email" required ng-model="vm.usuarioEmail"> 
                            <div ng-messages="vm.porteiroForm.email.$error">
                                <div ng-message="required">Este campo é obrigatório</div>
                            </div>	             
                        </md-input-container>
                        <md-input-container flex>
                            <label>Senha</label>
                            <input name="senha" required ng-model="vm.usuarioSenha"> 
                            <div ng-messages="vm.porteiroForm.senha.$error">
                                <div ng-message="required">Este campo é obrigatório</div>
                            </div>                
                        </md-input-container>
                  </div>    
                  <div layout="row">  
                      <md-input-container>
                          <label>Nome</label>
                          <input name="nome" required ng-model="vm.pessoaNome"> 
                          <div ng-messages="vm.porteiroForm.nome.$error">
                              <div ng-message="required">Este campo é obrigatório</div>
                          </div>	             
                      </md-input-container>
                      <md-input-container>
                          <label>CPF</label>
                          <input name="cpf" required ng-model="vm.pessoaCpf" ui-br-cpf-mask> 
                          <div ng-messages="vm.porteiroForm.cpf.$error">
                              <div ng-message="required">Este campo é obrigatório</div>
                          </div>                
                      </md-input-container>
                      <md-input-container>
                          <label>Nascimento</label>
                          <md-datepicker name="nascimento" required ng-model="vm.pessoaNascimento" > 
                          <div ng-messages="vm.porteiroForm.nascimento.$error">
                              <div ng-message="required">Este campo é obrigatório</div>
                          </div>	             
                      </md-input-container>
                  </div>
                  <div layout="row">
                      <md-input-container>
                          <label>Logradouro</label>
                          <input name="logradouro" required ng-model="vm.pessoaLogradouro"> 
                          <div ng-messages="vm.porteiroForm.logradouro.$error">
                              <div ng-message="required">Este campo é obrigatório</div>
                          </div>
                      </md-input-container> 
                      <md-input-container>
                              <label>Numero</label>
                              <input name="numero" required ng-model="vm.pessoaNumero" ui-number-mask> 
                              <div ng-messages="vm.porteiroForm.numero.$error">
                                  <div ng-message="required">Este campo é obrigatório</div>
                              </div>
                      </md-input-container>
                      <md-input-container>
                              <label>Bairro</label>
                              <input name="bairro" required ng-model="vm.pessoaBairro"> 
                              <div ng-messages="vm.porteiroForm.bairro.$error">
                                  <div ng-message="required">Este campo é obrigatório</div>
                              </div>
                      </md-input-container>
                  </div>
                <div layout="row">
                      <md-input-container flex>
                              <label>Cidade</label>
                              <input name="cidade" required ng-model="vm.pessoaCidade"> 
                              <div ng-messages="vm.porteiroForm.cidade.$error">
                                  <div ng-message="required">Este campo é obrigatório</div>
                              </div>
                      </md-input-container>
                      <md-input-container flex>
                              <label>UF</label>
                              <input name="uf" required ng-model="vm.pessoaUf"> 
                              <div ng-messages="vm.porteiroForm.uf.$error">
                                  <div ng-message="required">Este campo é obrigatório</div>
                              </div>
                      </md-input-container>  
                  </div>
              </md-content>    
          </form>    
        </md-dialog-content>
    
        <md-dialog-actions layout="row">
          
          <span flex></span>
          <md-button class="md-warn md-raised" ng-click="vm.cancelar()" >
            Cancelar
          </md-button>
          <md-button class="md-primary md-raised"  ng-click="vm.salvar()" style="margin-right:20px;"  ng-disabled="vm.porteiroForm.$invalid" >
            Salvar
          </md-button>
        </md-dialog-actions>
      

    </md-dialog>  
            
  
  
